.empty-basket {
    width: 100%;
    height: 100%;
}

.empty-basket__message {
    color: rgba(70, 70, 70, 0.856);
    font-size: 1.8rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}