*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
ul,
li,
input,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-size: 16px;
}

li {
  list-style: none;
}

.body-disabled {
  overflow: hidden;
  padding-right: 17px;
}

.app {
  background-color: #f1f2f6;
  font-family: 'Public Sans', sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  background-color: #fff;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.main {
  padding-top: 3rem;
}