*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
ul,
li,
input {
  margin: 0;
  padding: 0;
}

/* button,
input,
a,
select {
  outline: none;
} */

a {
  text-decoration: none;
}

html,
body {
  font-size: 16px;
}

li {
  list-style: none;
}

.app {
  background-color: #f1f2f6;
  font-family: 'Quattrocento Sans', sans-serif;
}

/* select,
option {
  font-family: 'Quattrocento Sans', sans-serif;
} */

.header {
  background-color: #fff;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.filter {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}

.sorting-filter {
  flex-basis: 180px;
}
.search-label {
  flex-basis: 300px;
}

.search {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #dddada;
  font-size: 1rem;
  font-family: 'Quattrocento Sans', sans-serif;
}

.search {
  border-top-right-radius: 25px;  
  border-bottom-right-radius: 25px;
  height: 2.4rem;
  border-left: 0;
}

/* select */

/* #f1f2f6
#fd393a */

/* option {
  opacity: 0;
  transition: 1s ease;
}

.box select {
  background-color: #0563af;
  color: #fff;
  height: 2.4rem;
  border: none;
  font-size: 1rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
} */